h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 10px #0000FF;
  font-style: italic;
}

.barre-haut {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;   
  height: 75px;
  width: 100%;
  background-color: #d3a4f7;
  border-bottom: 2px solid #0000ff;
}

#cadre-central {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #0000ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
  text-align: center;
}

h2,
p{
  color: #0000ff;
}

input, textarea {
  background-color: #d3a4f7;
  color: #000000;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  text-align: left;
}

button {
  background: linear-gradient(to right, #00ffff, #0000ff);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

button:hover {
  background: linear-gradient(to right, #0000ff, #00ffff);
}

body {
  background-color: beige;
  background-image: radial-gradient(circle, #d3a4f7 60%, transparent 0%);
  background-size: 150px 150px;
  position: relative;
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

#btnDeconnecterEleve {
  position: absolute;
  top: 10px;
  right: 10px;
}

.subjects-list {
  list-style-type: none;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.subjects-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
  padding: 10px;
}

.subjects-list li input[type="radio"] {
  margin-top: 10px;
}

.subjects-list li img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}


#svt { background-image: url('https://example.com/path-to-your-icon/leaf-icon.svg'); }
#maths { background-image: url('https://example.com/path-to-your-icon/maths-icon.svg'); }
#history-geo { background-image: url('https://example.com/path-to-your-icon/history-icon.svg'); }
#francis { background-image: url('https://example.com/path-to-your-icon/france-icon.svg'); }
#anglais { background-image: url('https://example.com/path-to-your-icon/uk-icon.svg'); }
#espagnola { background-image: url('https://example.com/path-to-your-icon/spanish-icon.svg'); }
#physique-chimie { background-image: url('https://example.com/path-to-your-icon/physics-icon.svg'); }
#technologie { background-image: url('https://example.com/path-to-your-icon/technology-icon.svg'); }
#musique { background-image: url('https://example.com/path-to-your-icon/music-icon.svg'); }
