/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2023, 5:04:17 PM
    Author     : ysu
*/

h1 {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 10px #0000FF;
  font-style: italic;
  
}

/* Styles pour la barre horizontale en haut de la page */
.barre-haut {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  position: fixed;
  top: 0;
  left: 0;   
  height: 75px;
  width: 100%;
  background-color: #d3a4f7;
  border-bottom: 2px solid #0000ff;
}

/* Styles pour le cadre central */
#cadre-central {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #0000ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
  text-align: center;
}

/* Styles pour le sous-titre */

h2,
p{
  color: #0000ff;
}

/* Styles pour les champs login et mot de passe */
input {
  background-color: #d3a4f7;
  color: #000000;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  text-align: center;
}

/* Styles pour le bouton de connexion */
button {
  background: linear-gradient(to right, #00ffff, #0000ff);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

button:hover {
  background: linear-gradient(to right, #0000ff, #00ffff);
}

/* Styles pour le fond avec les taches violettes */
body {
  background-color: beige;
  background-image: radial-gradient(circle, #d3a4f7 60%, transparent 0%);
  background-size: 150px 150px;
  position: relative;
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}