/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2023, 5:01:54 PM
    Author     : ysu
*/

body {
  background-color: beige;
  background-image: radial-gradient(circle, #d3a4f7 60%, transparent 0%);
  background-size: 3240px 3240px;
  position: relative;
  text-align: center;
}

p{
  color: #0000ff;
}

h1 {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center;
  font-family: "Impact", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 10px #0000FF;
  font-style: italic;
}

/* Styles pour la barre horizontale en haut de la page */
.barre-haut {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  position: fixed;
  top: 0;
  left: 0;   
  height: 75px;
  width: 100%;
  background-color: #d3a4f7;
  border-bottom: 2px solid #0000ff;
}

.top-right {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* Styles pour le bouton de connexion */
button {
  background: linear-gradient(to right, #00ffff, #0000ff);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

button:hover {
  background: linear-gradient(to right, #0000ff, #00ffff);
}

.image-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center; /* Centre verticalement les éléments */
}

.image-container img {
  width: 20%; /* Set each image to occupy one-third of the container width */
  height: auto; /* Maintain the aspect ratio of the images */
}
.content {
    padding: 20px;
    text-align: justify;
}

.inscription {
    text-align: center;
}

img {
  width: auto; /* Set the width to 100% of the parent container */
  height: 100%; /* Automatically adjust the height while maintaining the aspect ratio */
}